<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="copyright" content="This website's source codes are open source. Content is copyrighted by respective owners.">
	
    <title>Kad kahwin murah | Elegance 0054 - By SweetKad</title>
	<meta name="description" content="Kad kahwin Elegance 0054 - Bertemakan Kota paris atau pun kota percintaan ia amat popular digunakan.">
	<meta name="robots" content="index,follow">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="Galeri Kad Kahwin Murah">
	<meta property="og:description" content="Kad kahwin Elegance 0054 - Bertemakan Kota paris atau pun kota percintaan ia amat popular digunakan.">
    <link rel="stylesheet" href="/stylesheets/core.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:700,400,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.history.js"></script>
    <script type="text/javascript" src="/javascripts/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/template.js"></script>
	<!--[if lt IE 9]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->
    <script type="text/html" id="article_template">
		<%
		var isq = !(typeof req_quantity == "undefined");
		var key = data.uuid;
		var vendor = data.parent.vendor_id;
		var vendorlink = "http://sweetkad.com";
		var vendorname = "SweetKad";
		var vendorid = "sweetkad";
           %>
		<article class="grid-item" id="<%=key%>" data-href="/<%=vendorid%>/<%=key%>">
		<div class="gutter">
		<div class="grid-item-content">
			<header class="grid-image-and-overlay-container">
			<div class="grid-main-image-container"><img src="/images/<%= vendorid+"/"%><%= key%>.jpg" style=""></div>
			<div class="grid-main-image-overlay"></div>
			</header>
			<section class="grid-item-text">
			<p class="product-name"><%= data.title%></p>
			
				<div class="price-container">
				<p class="product-price"><b>RM <%= data.min_price.toFixed(2) %> - RM <%= data.max_price.toFixed(2) %></b></p>
				
			
			<div class="clearfix"></div>
			</div>
			
			</section>
			<footer>
				<div class="sold-by">
					<div class="float-container"><div class="float-left"><img src="/images/<%= vendorid%>/vendorlogo32.jpg" style=""></div></div>
					<h3 class="sold-by-text">Sold by</h3>
					<p class="sold-by-whom"><a class="sold-by-link" target="_blank" href="<%= vendorlink%>"><%= vendorname%></a></p>
				</div>
				
			</footer>
		</div>
		</div>
		</article>
		
	</script>
	
    <script type="text/javascript" src="/javascripts/main.js"></script>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsdataect']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-64710043-1', 'auto');
	  ga('send', 'pageview');

	</script>
  </head><body>
<div class="logo-container" style="background:#ffffff; text-align:center; padding:10px;"><img src="/images/heartlogowithtext.png"/></div>
		
<div style="position:relative" class="product-body">
<div class="no-javascript" style="display:none">
	<a href="/nojs">Back</a>
		<div id="main_content_ajax">

		<div class="disclaimer">
			<p>Disclaimer: Information shown in this site including price, quantity, and product availability is indicative only, and can be inaccurate. We do not bear responsibility for any damage caused with the use of this site, please directly contact the seller to find out the latest and most accurate information.</p>
		</div>


		<div style="padding:10px;border:1px solid #fefefe; max-width:400px;float:left"><img src="/images/sweetkad/elegance-0054.jpg" alt="Elegance 0054 image"/></div>

		<div style="float:right; margin-top:50%;">
			<div class="">Sold by</div>
			<img src="/images/sweetkad/vendorlogo.png">
			<p><a href="http://sweetkad.com" target="_blank">SweetKad</a></p>
			<a href="http://sweetkad.com" target="_blank">website</a>
			<a href="https://www.facebook.com/kadkahwinsweetsweet" target="_blank">facebook</a>
			<a href="https://twitter.com/kadkahwinsweet2" target="_blank">twitter</a>
			<a href="https://www.pinterest.com/kadkahwinsweet2/" target="_blank">pinterest</a>
			<a href="https://plus.google.com/+KadKahwinSweetSweetSemenyih" target="_blank">google plus</a>
			
		</div>

		<div class="clearfix"></div>

		<div class="content-section">
		<div class="">
			<div class=""></div>
			<h1>"Bertemakan Kota paris atau pun kota percintaan ia amat popular digunakan."</h1>
		</div>


		<div class="">Available styles:</div>
		<div class="style-container">
			<h1 class="stylename popup-content-title">Quad</h1>
			<div class="style-content">
			<img src="/images/sweetkad/quad_style.jpg"/>
			
			<table id="pricing_table">
				<thead>
					<th>Quantity</th>
					<th>Price</th>
					<th>Total</th>
				</thead>
				<tbody>
				<tr><td>50</td><td>RM 2.50</td><td>RM 125.00</td></tr><tr><td>100</td><td>RM 2.00</td><td>RM 200.00</td></tr><tr><td>250</td><td>RM 1.50</td><td>RM 375.00</td></tr><tr><td>500</td><td>RM 1.20</td><td>RM 600.00</td></tr><tr><td>750</td><td>RM 0.90</td><td>RM 675.00</td></tr><tr><td>1000</td><td>RM 0.80</td><td>RM 800.00</td></tr><tr><td>1250</td><td>RM 0.70</td><td>RM 875.00</td></tr><tr><td>1500</td><td>RM 0.65</td><td>RM 975.00</td></tr><tr><td>2000</td><td>RM 0.60</td><td>RM 1200.00</td></tr>
				</tbody>
			</table>
			<p class="">Specification</p>
			<p class="specs-text">Saiz kad: <span class="specs-details">Open size-280mm (W) x 140mm (H), Close size-140mm (W) x 140mm (H)</span></p>
			<p class="specs-text">Material: <span class="specs-details">Premium Card-PX-KING-300gsm</span></p>
			<p class="specs-text">Lain-lain: <span class="specs-details"></span></p>
			
			
			</div>
		</div>
		<div class="style-container">
			<h1 class="stylename popup-content-title">Vimp</h1>
			<div class="style-content">
			<img src="/images/sweetkad/vimp_style.jpg"/>
			
			<table id="pricing_table">
				<thead>
					<th>Quantity</th>
					<th>Price</th>
					<th>Total</th>
				</thead>
				<tbody>
				<tr><td>50</td><td>RM 1.60</td><td>RM 80.00</td></tr><tr><td>100</td><td>RM 1.30</td><td>RM 130.00</td></tr><tr><td>250</td><td>RM 0.90</td><td>RM 225.00</td></tr><tr><td>500</td><td>RM 0.80</td><td>RM 400.00</td></tr><tr><td>750</td><td>RM 0.60</td><td>RM 450.00</td></tr><tr><td>1000</td><td>RM 0.50</td><td>RM 500.00</td></tr><tr><td>1250</td><td>RM 0.45</td><td>RM 562.50</td></tr><tr><td>1500</td><td>RM 0.40</td><td>RM 600.00</td></tr><tr><td>2000</td><td>RM 0.35</td><td>RM 700.00</td></tr>
				</tbody>
			</table>
			<p class="">Specification</p>
			<p class="specs-text">Saiz kad: <span class="specs-details">100mm (W) x 140mm (H)</span></p>
			<p class="specs-text">Material: <span class="specs-details">Premium Card-PX-KING-300gsm</span></p>
			<p class="specs-text">Lain-lain: <span class="specs-details"></span></p>
			
			
			</div>
		</div>
		<div class="style-container">
			<h1 class="stylename popup-content-title">Aloha</h1>
			<div class="style-content">
			<img src="/images/sweetkad/aloha_style.jpg"/>
			
			<table id="pricing_table">
				<thead>
					<th>Quantity</th>
					<th>Price</th>
					<th>Total</th>
				</thead>
				<tbody>
				<tr><td>50</td><td>RM 1.80</td><td>RM 90.00</td></tr><tr><td>100</td><td>RM 1.50</td><td>RM 150.00</td></tr><tr><td>250</td><td>RM 1.00</td><td>RM 250.00</td></tr><tr><td>500</td><td>RM 0.90</td><td>RM 450.00</td></tr><tr><td>750</td><td>RM 0.70</td><td>RM 525.00</td></tr><tr><td>1000</td><td>RM 0.60</td><td>RM 600.00</td></tr><tr><td>1250</td><td>RM 0.55</td><td>RM 687.50</td></tr><tr><td>1500</td><td>RM 0.50</td><td>RM 750.00</td></tr><tr><td>2000</td><td>RM 0.45</td><td>RM 900.00</td></tr>
				</tbody>
			</table>
			<p class="">Specification</p>
			<p class="specs-text">Saiz kad: <span class="specs-details">200mm (W) x 90mm (H)</span></p>
			<p class="specs-text">Material: <span class="specs-details">Card-PX-KING-300gsm</span></p>
			<p class="specs-text">Lain-lain: <span class="specs-details"></span></p>
			
			
			</div>
		</div>
		<div class="style-container">
			<h1 class="stylename popup-content-title">Elegance</h1>
			<div class="style-content">
			<img src="/images/sweetkad/elegance_style.jpg"/>
			
			<table id="pricing_table">
				<thead>
					<th>Quantity</th>
					<th>Price</th>
					<th>Total</th>
				</thead>
				<tbody>
				<tr><td>50</td><td>RM 1.80</td><td>RM 90.00</td></tr><tr><td>100</td><td>RM 1.50</td><td>RM 150.00</td></tr><tr><td>250</td><td>RM 1.00</td><td>RM 250.00</td></tr><tr><td>500</td><td>RM 0.90</td><td>RM 450.00</td></tr><tr><td>750</td><td>RM 0.70</td><td>RM 525.00</td></tr><tr><td>1000</td><td>RM 0.60</td><td>RM 600.00</td></tr><tr><td>1250</td><td>RM 0.55</td><td>RM 687.50</td></tr><tr><td>1500</td><td>RM 0.50</td><td>RM 750.00</td></tr><tr><td>2000</td><td>RM 0.45</td><td>RM 900.00</td></tr>
				</tbody>
			</table>
			<p class="">Specification</p>
			<p class="specs-text">Saiz kad: <span class="specs-details">90mm (W) x 200mm (H)</span></p>
			<p class="specs-text">Material: <span class="specs-details">Card-PX-KING-300gsm</span></p>
			<p class="specs-text">Lain-lain: <span class="specs-details"></span></p>
			
			
			</div>
		</div>
		<div class="style-container">
			<h1 class="stylename popup-content-title">Vintage</h1>
			<div class="style-content">
			<img src="/images/sweetkad/vintage_style.jpg"/>
			
			<table id="pricing_table">
				<thead>
					<th>Quantity</th>
					<th>Price</th>
					<th>Total</th>
				</thead>
				<tbody>
				<tr><td>50</td><td>RM 2.50</td><td>RM 125.00</td></tr><tr><td>100</td><td>RM 2.00</td><td>RM 200.00</td></tr><tr><td>250</td><td>RM 1.50</td><td>RM 375.00</td></tr><tr><td>500</td><td>RM 1.20</td><td>RM 600.00</td></tr><tr><td>750</td><td>RM 0.90</td><td>RM 675.00</td></tr><tr><td>1000</td><td>RM 0.80</td><td>RM 800.00</td></tr><tr><td>1250</td><td>RM 0.70</td><td>RM 875.00</td></tr><tr><td>1500</td><td>RM 0.65</td><td>RM 975.00</td></tr><tr><td>2000</td><td>RM 0.60</td><td>RM 1200.00</td></tr>
				</tbody>
			</table>
			<p class="">Specification</p>
			<p class="specs-text">Saiz kad: <span class="specs-details">Open size-400mm (W) x 90mm (H), Close size-200mm (W) x 90mm (H)</span></p>
			<p class="specs-text">Material: <span class="specs-details">Card-PX-KING-300gsm</span></p>
			<p class="specs-text">Lain-lain: <span class="specs-details"></span></p>
			
			
			</div>
		</div>
		<a href="#">Feedback</a>
		</div>
		</div>
</div>

 <header>
		<div class="">
			<!--Amaun: <select id="quantity_amount">
			<option value="50">50</option>
			<option value="100">100</option>
			<option value="250">250</option>
			<option value="500">500</option>
			<option value="750">750</option>
			<option value="1000">1000</option>
			<option value="1250">1250</option>
			<option value="1500">1500</option>
			<option value="2000">2000</option>
			</select>-->
		</div>
	  </header>
		<section class="main-container">
			<div class="grid-container">
			<div class="grid">
				
			</div>
			</div>
			<div class="load-more-container" style="text-align:center;"><button id="load_more_button" class="require-javascript" style="font-size: 20px; color: #000000; background: none; border: 0;">Load more</button></div>
		</section>
		
		<div class="popup-container">
			<div class="popup">
			<div class="margin-container" style="">
			<div class="close-button-container"><a href="#" onclick="popup(false)">Close</a></div>
			<div class="popup-content">
				
			</div>
			</div>
		</div>
		</div>
      <footer>
        
      </footer>



</div>


	<script type="text/javascript">
		$(function(){
			$('.product-body').removeClass('product-body');
			popup(true);
			$('.popup-content').append($('#main_content_ajax'));
			History.pushState({},'','/');
			History.pushState({},'','/sweetkad/elegance-0054');
		});
	</script>
</body>
</html>