<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="copyright" content="This website's source codes are open source. Content is copyrighted by respective owners.">
	
    <title>Kad Kahwin Murah | Galeri kad jemputan kahwin murah online</title>
	<meta name="description" content="Dapatkan kad kahwin murah dari kedai yang tersenarai seluruh malaysia secara online. Design kad jemputan kahwin terbaru dan trendy.">
	<meta name="robots" content="index,follow">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="Galeri Kad Kahwin Murah">
	<meta property="og:description" content="Dapatkan kad kahwin murah dari kedai yang tersenarai seluruh malaysia secara online. Design kad jemputan kahwin terbaru dan trendy.">
    <link rel="stylesheet" href="/stylesheets/core.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:700,400,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.history.js"></script>
    <script type="text/javascript" src="/javascripts/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/template.js"></script>
	<!--[if lt IE 9]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->
    <script type="text/html" id="article_template">
		<%
		var isq = !(typeof req_quantity == "undefined");
		var key = data.uuid;
		var vendor = data.parent.vendor_id;
		var vendorlink = "";
		var vendorname = "SweetKad";
		var vendorid = "sweetkad";
           %>
		<article class="grid-item" id="<%=key%>" data-href="/<%=vendorid%>/<%=key%>">
		<div class="gutter">
		<div class="grid-item-content">
			<header class="grid-image-and-overlay-container">
			<div class="grid-main-image-container"><img src="/images/<%= vendorid+"/"%><%= key%>.jpg" style=""></div>
			<div class="grid-main-image-overlay"></div>
			</header>
			<section class="grid-item-text">
			<p class="product-name"><%= data.title%></p>
			
				<div class="price-container">
				<p class="product-price"><b>RM <%= data.min_price.toFixed(2) %> - RM <%= data.max_price.toFixed(2) %></b></p>
				
			
			<div class="clearfix"></div>
			</div>
			
			</section>
			<footer>
				<div class="sold-by">
					<div class="float-container"><div class="float-left"><img src="/images/<%= vendorid%>/vendorlogo32.jpg" style=""></div></div>
					<h3 class="sold-by-text">Sold by</h3>
					<p class="sold-by-whom"><a class="sold-by-link" target="_blank" href="<%= vendorlink%>"><%= vendorname%></a></p>
				</div>
				
			</footer>
		</div>
		</div>
		</article>
		
	</script>
	
    <script type="text/javascript" src="/javascripts/main.js"></script>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsdataect']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-64710043-1', 'auto');
	  ga('send', 'pageview');

	</script>
  </head><body>
	<h2>Senarai kad kahwin yang terdapat dalam galeri kami:</h2>
	<div>
	<ul>
			<li><a href="/sweetkad/quad-0001">Quad 0001</a></li>
			<li><a href="/sweetkad/quad-0002">Quad 0002</a></li>
			<li><a href="/sweetkad/quad-0003">Quad 0003</a></li>
			<li><a href="/sweetkad/quad-0004">Quad 0004</a></li>
			<li><a href="/sweetkad/quad-0005">Quad 0005</a></li>
			<li><a href="/sweetkad/quad-0006">Quad 0006</a></li>
			<li><a href="/sweetkad/quad-0007">Quad 0007</a></li>
			<li><a href="/sweetkad/quad-0008">Quad 0008</a></li>
			<li><a href="/sweetkad/quad-0009">Quad 0009</a></li>
			<li><a href="/sweetkad/quad-0010">Quad 0010</a></li>
			<li><a href="/sweetkad/quad-0011">Quad 0011</a></li>
			<li><a href="/sweetkad/quad-0012">Quad 0012</a></li>
			<li><a href="/sweetkad/quad-0013">Quad 0013</a></li>
			<li><a href="/sweetkad/quad-0014">Quad 0014</a></li>
			<li><a href="/sweetkad/quad-0015">Quad 0015</a></li>
			<li><a href="/sweetkad/quad-0016">Quad 0016</a></li>
			<li><a href="/sweetkad/quad-0017">Quad 0017</a></li>
			<li><a href="/sweetkad/quad-0018">Quad 0018</a></li>
			<li><a href="/sweetkad/quad-0019">Quad 0019</a></li>
			<li><a href="/sweetkad/quad-0020">Quad 0020</a></li>
			<li><a href="/sweetkad/quad-0021">Quad 0021</a></li>
			<li><a href="/sweetkad/quad-0022">Quad 0022</a></li>
			<li><a href="/sweetkad/quad-0023">Quad 0023</a></li>
			<li><a href="/sweetkad/quad-0024">Quad 0024</a></li>
			<li><a href="/sweetkad/quad-0025">Quad 0025</a></li>
			<li><a href="/sweetkad/quad-0026">Quad 0026</a></li>
			<li><a href="/sweetkad/quad-0027">Quad 0027</a></li>
			<li><a href="/sweetkad/quad-0028">Quad 0028</a></li>
			<li><a href="/sweetkad/quad-0029">Quad 0029</a></li>
			<li><a href="/sweetkad/quad-0030">Quad 0030</a></li>
			<li><a href="/sweetkad/quad-0031">Quad 0031</a></li>
			<li><a href="/sweetkad/quad-0032">Quad 0032</a></li>
			<li><a href="/sweetkad/quad-0033">Quad 0033</a></li>
			<li><a href="/sweetkad/quad-0034">Quad 0034</a></li>
			<li><a href="/sweetkad/quad-0035">Quad 0035</a></li>
			<li><a href="/sweetkad/quad-0036">Quad 0036</a></li>
			<li><a href="/sweetkad/quad-0037">Quad 0037</a></li>
			<li><a href="/sweetkad/quad-0038">Quad 0038</a></li>
			<li><a href="/sweetkad/quad-0039">Quad 0039</a></li>
			<li><a href="/sweetkad/quad-0040">Quad 0040</a></li>
			<li><a href="/sweetkad/quad-0041">Quad 0041</a></li>
			<li><a href="/sweetkad/quad-0042">Quad 0042</a></li>
			<li><a href="/sweetkad/quad-0043">Quad 0043</a></li>
			<li><a href="/sweetkad/quad-0044">Quad 0044</a></li>
			<li><a href="/sweetkad/quad-0045">Quad 0045</a></li>
			<li><a href="/sweetkad/quad-0046">Quad 0046</a></li>
			<li><a href="/sweetkad/quad-0047">Quad 0047</a></li>
			<li><a href="/sweetkad/quad-0048">Quad 0048</a></li>
			<li><a href="/sweetkad/quad-0049">Quad 0049</a></li>
			<li><a href="/sweetkad/quad-0050">Quad 0050</a></li>
			<li><a href="/sweetkad/quad-0051">Quad 0051</a></li>
			<li><a href="/sweetkad/quad-0052">Quad 0052</a></li>
			<li><a href="/sweetkad/quad-0053">Quad 0053</a></li>
			<li><a href="/sweetkad/quad-0054">Quad 0054</a></li>
			<li><a href="/sweetkad/quad-0055">Quad 0055</a></li>
			<li><a href="/sweetkad/quad-0056">Quad 0056</a></li>
			<li><a href="/sweetkad/quad-0057">Quad 0057</a></li>
			<li><a href="/sweetkad/quad-0058">Quad 0058</a></li>
			<li><a href="/sweetkad/quad-0059">Quad 0059</a></li>
			<li><a href="/sweetkad/quad-0060">Quad 0060</a></li>
			<li><a href="/sweetkad/quad-0061">Quad 0061</a></li>
			<li><a href="/sweetkad/quad-0062">Quad 0062</a></li>
			<li><a href="/sweetkad/quad-0063">Quad 0063</a></li>
			<li><a href="/sweetkad/quad-0064">Quad 0064</a></li>
			<li><a href="/sweetkad/quad-0065">Quad 0065</a></li>
			<li><a href="/sweetkad/quad-0066">Quad 0066</a></li>
			<li><a href="/sweetkad/quad-0067">Quad 0067</a></li>
			<li><a href="/sweetkad/quad-0068">Quad 0068</a></li>
			<li><a href="/sweetkad/quad-0069">Quad 0069</a></li>
			<li><a href="/sweetkad/vimp-0001">Vimp 0001</a></li>
			<li><a href="/sweetkad/vimp-0002">Vimp 0002</a></li>
			<li><a href="/sweetkad/vimp-0003">Vimp 0003</a></li>
			<li><a href="/sweetkad/vimp-0004">Vimp 0004</a></li>
			<li><a href="/sweetkad/vimp-0005">Vimp 0005</a></li>
			<li><a href="/sweetkad/vimp-0006">Vimp 0006</a></li>
			<li><a href="/sweetkad/vimp-0007">Vimp 0007</a></li>
			<li><a href="/sweetkad/vimp-0008">Vimp 0008</a></li>
			<li><a href="/sweetkad/vimp-0009">Vimp 0009</a></li>
			<li><a href="/sweetkad/vimp-0010">Vimp 0010</a></li>
			<li><a href="/sweetkad/vimp-0011">Vimp 0011</a></li>
			<li><a href="/sweetkad/vimp-0012">Vimp 0012</a></li>
			<li><a href="/sweetkad/vimp-0013">Vimp 0013</a></li>
			<li><a href="/sweetkad/vimp-0014">Vimp 0014</a></li>
			<li><a href="/sweetkad/vimp-0015">Vimp 0015</a></li>
			<li><a href="/sweetkad/vimp-0016">Vimp 0016</a></li>
			<li><a href="/sweetkad/vimp-0017">Vimp 0017</a></li>
			<li><a href="/sweetkad/vimp-0018">Vimp 0018</a></li>
			<li><a href="/sweetkad/vimp-0019">Vimp 0019</a></li>
			<li><a href="/sweetkad/vimp-0020">Vimp 0020</a></li>
			<li><a href="/sweetkad/vimp-0021">Vimp 0021</a></li>
			<li><a href="/sweetkad/vimp-0022">Vimp 0022</a></li>
			<li><a href="/sweetkad/vimp-0023">Vimp 0023</a></li>
			<li><a href="/sweetkad/vimp-0024">Vimp 0024</a></li>
			<li><a href="/sweetkad/vimp-0025">Vimp 0025</a></li>
			<li><a href="/sweetkad/vimp-0026">Vimp 0026</a></li>
			<li><a href="/sweetkad/vimp-0027">Vimp 0027</a></li>
			<li><a href="/sweetkad/vimp-0028">Vimp 0028</a></li>
			<li><a href="/sweetkad/vimp-0029">Vimp 0029</a></li>
			<li><a href="/sweetkad/vimp-0030">Vimp 0030</a></li>
			<li><a href="/sweetkad/vimp-0031">Vimp 0031</a></li>
			<li><a href="/sweetkad/vimp-0032">Vimp 0032</a></li>
			<li><a href="/sweetkad/vimp-0033">Vimp 0033</a></li>
			<li><a href="/sweetkad/vimp-0034">Vimp 0034</a></li>
			<li><a href="/sweetkad/vimp-0035">Vimp 0035</a></li>
			<li><a href="/sweetkad/vimp-0036">Vimp 0036</a></li>
			<li><a href="/sweetkad/vimp-0037">Vimp 0037</a></li>
			<li><a href="/sweetkad/vimp-0038">Vimp 0038</a></li>
			<li><a href="/sweetkad/vimp-0039">Vimp 0039</a></li>
			<li><a href="/sweetkad/vimp-0040">Vimp 0040</a></li>
			<li><a href="/sweetkad/vimp-0041">Vimp 0041</a></li>
			<li><a href="/sweetkad/vimp-0042">Vimp 0042</a></li>
			<li><a href="/sweetkad/vimp-0043">Vimp 0043</a></li>
			<li><a href="/sweetkad/vimp-0044">Vimp 0044</a></li>
			<li><a href="/sweetkad/vimp-0045">Vimp 0045</a></li>
			<li><a href="/sweetkad/vimp-0046">Vimp 0046</a></li>
			<li><a href="/sweetkad/vimp-0047">Vimp 0047</a></li>
			<li><a href="/sweetkad/vimp-0048">Vimp 0048</a></li>
			<li><a href="/sweetkad/vimp-0049">Vimp 0049</a></li>
			<li><a href="/sweetkad/vimp-0050">Vimp 0050</a></li>
			<li><a href="/sweetkad/vimp-0051">Vimp 0051</a></li>
			<li><a href="/sweetkad/vimp-0052">Vimp 0052</a></li>
			<li><a href="/sweetkad/vimp-0053">Vimp 0053</a></li>
			<li><a href="/sweetkad/vimp-0054">Vimp 0054</a></li>
			<li><a href="/sweetkad/vimp-0055">Vimp 0055</a></li>
			<li><a href="/sweetkad/vimp-0056">Vimp 0056</a></li>
			<li><a href="/sweetkad/vimp-0057">Vimp 0057</a></li>
			<li><a href="/sweetkad/vimp-0058">Vimp 0058</a></li>
			<li><a href="/sweetkad/vimp-0059">Vimp 0059</a></li>
			<li><a href="/sweetkad/vimp-0060">Vimp 0060</a></li>
			<li><a href="/sweetkad/vimp-0061">Vimp 0061</a></li>
			<li><a href="/sweetkad/vimp-0062">Vimp 0062</a></li>
			<li><a href="/sweetkad/vimp-0063">Vimp 0063</a></li>
			<li><a href="/sweetkad/vimp-0064">Vimp 0064</a></li>
			<li><a href="/sweetkad/vimp-0065">Vimp 0065</a></li>
	</ul>
	</div>
</body>
</html>